*::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 100;
  letter-spacing: 1.6px;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgba(102, 102, 102, 0.471);
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: rgba(0, 0, 0, 0.752);
}

.container h1,
h2 {
  text-transform: capitalize;
  letter-spacing: 1.1px;
}

.container h1 span,
h2 span {
  font-weight: 500;
  text-decoration: underline;
}

.btn {
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 0.345rem 0.8rem;
  margin-bottom: 0.7rem;
  margin-top: 2rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.2s linear;
}

.btn:hover {
  background-color: #888;
  color: #fff;
}

.footer {
  background-color: #999;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  height: 5rem;
  padding-left: 2rem;
  padding-top: 0.345rem;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: bold;
}
